<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Statement</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"
      rel="stylesheet"
    />
    <style>
      @page {
        size: A4;
        margin: 10mm;
      }

      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }

      body {
        font-family: Inter, sans-serif;
        font-size: 12px;
        color: #0e0c22;
      }

      /* HEADER */
      .header {
        text-align: center;
        margin-bottom: 20px;
        color: #999999;
      }

      .header h1 {
        color: #0e0c22;
        font-size: 1.680625rem;
        font-weight: 600;
        margin: 20px 0 2px 0;
      }

      .statement-duration-banner {
        text-align: center;
        background: #f6f6f6;
        padding: 16px;
        margin-bottom: 13px;
        font-size: 0.875rem;
        color: #000;
        font-weight: 500;
      }

      /* INFO BOX */
      .info {
        font-size: 0.9375rem;
      }

      .info td {
        padding-left: 20px;
      }

      .logo {
        height: 100px;
        width: 100px;
      }

      /* TABLE */
      table {
        width: 100%;
        border-radius: 8px;
        border-collapse: separate;
        border-spacing: 0;
        margin-bottom: 18px;
      }

      thead {
        background-color: #aaa;
      }

      .left-side {
        border-right: 1px solid #e6e6e6;
        width: 40%;
        font-weight: 500;
        font-size: 0.9375rem;
      }

      th {
        border-block: 1px solid #eee;
        padding: 20px;
      }

      td {
        border: 1px solid #eee;
        padding: 12px;
      }

      .transaction-title {
        margin: 45px 0 16px 0;
        font-size: 1.6rem;
        font-weight: 600;
        color: #101010;
      }

      /* PAGE BREAK */
      .page-break {
        page-break-after: always;
      }

      /* BALANCE COLORS */
      .credit {
        color: green;
        font-weight: bold;
      }
      .debit {
        color: red;
        font-weight: bold;
      }

      /* FOOTER */
      .footer {
        margin-block: 42px;
        text-align: center;
        font-weight: 500;
        font-size: 0.7rem;
        color: #676767;
      }
    </style>
  </head>

  <body>
    <div class="header">
      <img
        class="logo"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANoAAADRCAYAAACq2qwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAITgAACE4AUWWMWAAABmXSURBVHhe7d3fUtTYvgfw728FEGbGTTu7dgHe
dOPNuTkKPgFwoVQpKp4XEJ9AfALgCcAnkHmBI5Q4VToX4BMAsx+Azs1WzqlTtrMdgUHW71ykg52VlXTSSXen4fepomZYgJ2k88v6/2uC6Io7N48WiGiqsYzAJRDNM2Pn3e+DM40/E72NzAKRv6kJLg2c
/lnR5JQcpSdBzjMiVMzfO8e89/b3odtmsehdyiwQ+bp763h7ECefVH/fbl8fbZNyVmODzLNjFojeJjVaG81OHE0DtG2WN8OMHQBVZn7/2z+H1s2fz948fsaEyfMCwua7/cENAJj6j6NgEA8O1t7vUy1Q
JjpOAq1NvGDgZSIqmT9LgxlVZl7xA2524qgC0IHl95YBgMj7b6NjXLkmwdZdEmhtcPc//5wnx3lllmfBjCr47AWRmgLRvPnzOI4aqPy6q1yzXHSO9NHagEllqsVsiFAh5aymDTJRDBJobaAIE2ZZN3i1
IG9IbdZ90nTM0dQElwb5+GVhah3mtbe/Dz03i0XnSaDl5M7El0nivlcJhu47jGfe7g/JdEGXSdMxJ8UMMgBMr7yRStFNEmg58JZTFTDIAIBQAlOuI6AiPQm0HBDRkllWKITJOzePFsxi0TkSaBkVujYL
6oVjvLAk0LLriRtYKVq6M/Hl+7It0VESaJcIcZ8MjHSJBNolQoQKM21LsHWeBNolI8HWHRJolxARKjLk31kSaJcVYXL21tF5n21qgkt3bx0v3b11fCBTAfmTQLvMiOaZadvfBU6E5fpUhTQrcyaBltFf
6niNmX8xy3sFESpEmDbLRb4k0DJ6v3+t9u73oQVm/cL8WS9iRlUphNIniGwk0HJyQifLzKia5b2GiH95uz/U8+dRNLJNJkfF3SqTDDOq734fHDfLRXZSo+Xot/2f9oh4JlGfjbHHOHsM8ExRakIiXjHL
RD6kRmuT2YmjCjOWieiJ+TMGv3i3P7Tof1+MmpBX3u4PhTJoiXxIoBXQ3VtH67YAbR8JsnaTpuOlJ0HWCRJoBcRQw2ZZe0iQdYoEWgERdAf6ahJknSSBVkBEeM7MbUvhzYyqBFlnSaAV0Nv9oR0itC0f
IxHLZ691mIw6FtjdW1/XiNQzszyrt/uD8r53mNRoBXZCJ21p3t29dVzsrF0XkDzZCu7urePtdqyu1/h2+7f9n/bMctEeUqMVHZ9tmkV5UHBy/8QbEU0CreBIqQ2zTPQeCTQhOkACreC0zr9/JjpPAq3g
Cp/XXyQigVZweW+dYeYaA8/lM9M6SwLtEmHGDhFuv9sfXDN/JtpLAq3gctt9zbz27vfBGckH0h0SaAVXT42QeYGxZnw2y0TnSKAV3Nv9oSqIMufy6OyObWGSQOsB7/YH13JrQoqukEDrGdmaj0QJMnOJ
tpFA6xn83ixJTnZTd5sEWq8gbnney1FXXpplorMk0HrEu/0fN5iRKtj8yelfd5Vr/kx0lgRaD2H6li69AdOKTE4XgwRaD/lt/6c9rZOn7eaMAygiPxJoPea3fw4tM3PTndHMXFMqXVNTtI8EWg9iRuxn
sTGjSoTbstyqOCTQelBUTcXMNWbsnNAVCbKCkeQ8PWp24mhB6+9baJTCzjEG997vk/TLhBBCFMjUBAeyVB1//nmRPw1L5qoeJX20ApqdOKpc4ZPdxmBzCE++OX2S1qBHSaAVzNQEl5hpmwiVAfx53gfT
mt8DWDz99Pf54F+IXiCBViBTE1wa5JNtP08I6b7vGbCI9gCAHbw8+jScax4R0X4SaAVyhU9egTB5XkCY8P9X67MdrwilPtX36vx3RE+QQCuIu7eOX5o59gl8HnRD1z5Xz5dUESZP//j7auPvimKTQCuA
2VtHq0RYMMtBNBkYfQyu3l88/TQsyVV7hARal929dbwEokWz3BcYEAECmz/Z6Xsl/bXeIIHWRXdvHS8RIXbnc+OAiKO9AZHznwElRzmyqbMHSKB1SZIgA4IDIn34Flq1T0TTf/3xs8yvFZwEWhfcuXny
JFGQGQMidO1zDQhnwyLQsvTXik0CrcPu3Dx5ohSvm+WRjAGRM63tSXqcvpeyRKu4JNA66M7El0kinTq1QOOACBFZt8gAqJwqR+bXCkoCrUPuTHyZJHa2iSh1rdM4IOJPXNsQ0fTx558jRzBF90igdcDs
xFGFuO9VK0EGBAdEAhPXFg7R6smnf3xfXSIKQQKtzWYnjir+ImHzZ0k1DogAABih0cdGytGvpL9WLBJobZRHkAHhARFm3g/+QkjlVObXCkUCrU1yC7K6xgERpVRkP81HRPPSXysOCbQ2mJrgEphe5RVk
AADtnDcf+86+NQ00AFBES9JfKwYJtDYY5JPtwHaXHFDDvxc1cW0ioCT9tWKQQMvZ3VvHL/MOMnhBM9X4feTEdVhFUiB0nwRajiK3u+SCgs3Q+o7rhBalv9ZdEmg5abbdJTNC6c7El+/Nx5iJaxtFtCRb
arpHAi0HiVfiZ9UwIHLl2ue9uIlrk58CQfpr3SGBllHHgswYEAGaT1yHECalv9YdEmgZzN48ftapIINlQCTBxLWNpKzrAgm0Ft25efIECqlX4mcTHBBJMnFtIynrOk8CrQV3Jr5MptpTlhdjQCTpxLVJ
UtZ1ngRaSv52F7O8YxoGRJJOXFtJyrqOkkBLIfN2lxyYAyIpJq5tJGVdh0igJZT3IuFWmQMiKSeuQyRlXWdIoCVQlCDzBAdEzBR0aUnKus6QQGuiWEFmGRDBt1QT1zaSsq79JNBitGW7Sx7MAZG0E9cW
krKuvSTQYrRju0sezAGRFieuwyRlXdtIoEVo13aXfNB5sh7v22z9tAaSsq5NJNAs2rvdJTtC8AEQl4IuLUlZ1x5kFlx2nVwknIWjBiq/7irX//6vP37+RMhvfk+fqdtXrv1vXjXlpSc1WoNeCTIAOP12
MhMoCH52WmaSAiFfEmh1vRRksAyImJ+dlgNJWZcjCbQubHfJR3BAJOvEtY2krMvPpQ+07mx3yc4cELF9dloeJGVdPi51oHVtu0seCKV7t3X5/Ntrn2sA5x5skrIuH5c20Lq+3SUH5oCI1px3P80nKesy
upSBVoTtLnkwB0RynLi2kZR1GVy6QCvcIuFMggMieU5c20jKutZdqkC7WEEWHhBp9tlpWUnKutZdmkC7aEEGhAdEgPwnrkMkZV1LLkWgFXa7Sw5CAyL5T1zbSMq6lC5FoBV1u0sezAGRdkxc20jKunQu
fKAVe7tLHoIDIu2auDZJyrp0LnSgFX27Sx7MAZFMKejSkpR1iV3YQGv7p7sUhWVAJGMKurQkZV0CFzLQem0lflbmgAgRtXfk0SAp65q7cIF22YIMlgGRdk9cmyRlXXMXKtB6c7tLHoIDIu2euLaRlHXx
Lkyg9ep2lzyYAyJAC5+dlgNJWRftQgRaT293yYNlQCS3FHRpSco6q54PtIuw3SUP5oBIq5+dlgNJWWfR04F2Uba75MEcEGn1s9PyICnrwno63dydiZNJBX3pg6yu+nZ/KDBRffrp713tL/Vf+7+uBbsQ
QgghhBBCCCGEEEIIIYQQQgghhBBCCCGEEEIIIYQQQgghhBBCCCGEEEIIIYQQQgghhBBCCCGEEEIIIYQQQgghhBBCCCGEEEIIccnR+NgDDhZxVX/992338/tasDy7ytjcAYEqjWVa6xn38I181rG40JRZ
AFBFDV1dMkuFEK2z1GiedtQ0UqNlUx6eKmGwVAoUHtdq7Wh9iHxZajSPUvSyPDwVfFNFdw3+OK+UPgh8DV1dNX9NFE9koHlNyL+9NEuFEOnFBBoAwnx57MGiWSyESCc+0AAo5qXyyGygXyWESKdpoIGo
pNSANCGFyKB5oHmmpQkpROuSBprXhPzHvUmzXAjRnCXQuKqZX5ilICopR8mQvxAtsExYc/Xgw9b4+OiDXRDCNRjz2sHHredmcRLtmLAuj9yfdhxnijVPgvj78TJqIKox8x4T3kOf7rmHb6uBP85BeXiq
hB/+tqDAEwBVADYGjqjKzHvMtA/8tZP0GMpjDxahdeChpkhNgDDfWAbmPc28GShrpHnD/d9f9/xvvYGtvoXA7xx/WbNNegfOjTEJQsPxtHZeaXivf3WaGFMEqgTeXwAAVcGoacJ7fDvbaTzPOLZra16n
VlmvL1Q1MtDKI48qis52QRSqwVoNjrwCrTw8VXJ+HH7GWi/aji8ar2t9upLHTVEeuT+tlFoCMG3+LF6yY7Bdq1ZoffbUPfx13f++ftzbgd/5dnY7EIzX700qdlbTnVuy80qiPDJbIep/RsBCyve3qjWt
uIevz8/Xpjw6t6aInjWWaeYX7setzOMQlbG5lwQKBhrzuqXp6HEPN6uaaMUsR5dXjZRH7k+rH67uMvNyujcBAGhBqYGD8dG51VaPvzwyWxkfe7Bdv1lT3Ig+7xhuXH9YnPWk6nvL5cbYw2eKnd3051a/
tmNzme6NG2MPnyk1cEBEKR+i8BZZKLwcH33wKnZKinnDLFLAkyzH7SM2WhwANDsrkYEGAO6H12sAW2qb7iw8vnF9bsm7wTM+6YkW1Q9Xd2PfDIvyyGxFqf4WAyyImZcLE2zKu6HHx+ZeMnjN/HE6tNDK
tUVur+8ttFCqfzvqGLwWlHFfE5Xww09Gky+d8siDcA3MvOceblZjAw0AtHaegjnUfgfRYnlsLhS97XLj+twSMy2b5T5m3tHMLzTwXOuzp1rrFTA2AI5oylAl7s0wfQ+yiCBnroGxoZlfaK1XtNYrmvkF
2Pag8jDzchGmTRTTxI3rc0swmzzwzuv82tbPC8zrzBzTn0l3bQFgfPThqvX168xjOL+2tnsTqB9D9PyvBoX6tQrqkVmWBhFCf6+ZXgAxgyGNJeWxB4sKCC9eZa5pPr2dtF1u63ck6aOVRx4sKAX7RWNs
6LOzlbiOrNcvoZcRQbJz8OH1jFlosra9gUT9gvLIowpwtqwUPTF/BuaaPvr3uG0wwlQeubeglBO8DszrBx+3ngbKYtj6aGCuhZ7E9fPCsdpwP29ajy32vOA9zQ8+bt02i02R7y9zTTO/wHHfWtQx4Pzv
ecn2/mqNp7b3plx+VFInZwfmeeuvf1xL8l6YvAfxwEGgsOG9bVqjwW9CMkLt2k6sGvFOgMNNLOaa1nh68PH147ggQ72pcPBha1xrbetzNp2ML4/MVqxBxrynvzq3bW9kI/dws+oebi1ojXBAEJUw+LfY
128782ZjfuGfV9wNfn5epG5bWw5Ek+WRB5GtEJ8iDgxMeLiqlTPjHr5ZjjsGAHAPX69r7czYjsH+bwOuu1ljUPgB3/J7MWDrTmz4QZso0ABAX1FPbSeS5EbNglS//UmlnJlmN7jJPXyzbAs2xbwU2xFW
A5YmMlf1kTPT7CZo5N0QltdXbK8RukBrrLgftxZTnde/Nve0dmZszThF/Czu2pav35sEUWgaSWtnxv3XZuwDtJE3eOc8NstBNBm10IJZh+aLowKzGdvfaeZf/P9PHGiuu1nTmsNPZP9GTdEeTyqqJtEa
K2nehEbu4ZvltB1hBQ63vTWtpLkZzw32rYVvSKrE3Ywdw9hwD183rYFs3MPNqma23ejxNTY74ZqAed093LQ91GN594SlT9wwqtrIPXwT7uMRlcoj98PHFKM8MlsJPyy42tglShxoqB9Y5KoR6n9lFmdn
q4652urN4NOaw7VKTEdYM/bBvN74lbY29UU2WQZ+zP1BlZZm1dJCBJ97+GZH6+9PcZ/taX9Oo2Ze28aaIC3bIAdIWQMN9WayWaYoos8ZwWt1BWkdnBpLFWgAgCvOsrUJmbA9noatSaURvjBpuYdvdjh8
DtNRtYr7cWvx4OPW08Yv83fSYObPZhlIdTfQWqxFwpzwPRBTS7iHr9fNa9tscCxe6H2FAobNsnODfbbphPmoe8GGrNM9KnAOqQPNdTdr1rYwAKWwFHVBW0Phf0ujpSajiTXem2W4cjX8ep1CxpKgDstS
izTygtXSfIPqzLXVZrM8nutu1kLH26Qr0ci7340xBMtDK3Wgwe/8AtZmRl6rRsrX7R1YRzkT5ZF7C1m/FFH4KeeY6xQvj2y1SJC9+WauUyyOtF2JRmSZ2rA9tBLNo0UZH5vbttY6EQuP08yjWed72izN
erfyyP1pInpERJPeQuLwyGga5ppEm3L75tESzXclVR6bm1egYJ89xWuURx5VoPS8YkyBeBKMkjkFkUqCazQ+OvfJfA1zDajJPhdnj5+WajRf7KqRzE3IztcusW35uhtjD5+Nj859UkptE9GitxwrW5B1
G4PC72EW2gnfnIGV/3blkfvT3jpSfaCAVW+nAlXMAGgH26AIlGOZ1mlwrOfNYzMHQXyZAq2oC4/bwV9MzOA18+L2OrIMIHTa+OjD1dYXauehL9SaiB0tjRisMwdBfJkCDWi28DjndHXMtfr6trZ8aabw
AMn56pR8FhOLsPHRh6sgTtRkbxfrIE7MaKk3b2x0myyDIL5MfTSfva3q0cBzLxjT9tHC/RFm7FQ/Nl+XmLfIdY7+WjxFe9bmUgQivUrGBs4L1UdL8Rqx6xyBX8B6D+gP3R/RTqdbvUb264uNg4+vQ6Ps
tuOOupeRV6Ah6uLCvxm9hcepAs3bfLgbLG3t2LKwLhb12/RHTtN1eDblkbl1cyFulwOtdvBx61qgLAPbYEjUQ3J8bO4g3MflqtbOTFTtECfi/BJdI2uFEbHoe3x0bje4GiT+3szcdPTFrhppZeFxf7/l
IndhqRL1h5o0zLyXdj1goRGVKqP/VTaLW0UIbxdh8L5ZZp2D8gbZWgoyAOd761rhupteLdrIMqdmW58ZNQjiyy3QgJhVIy0sPPaWKln+rcGfcpmPKf/j3mR55P504MsSxIowYZaxRuxFbUYp5HZT54X5
tOkTPynrSgmNUKsFyrI0Kqafk0w4cFOx7r4OzqkRK8sgiX0QxJdroMUuPAZWiZsP8TZiRmji02xytaI8MltRfc6uUmr7/Ivoldk8AAAGQm8cqQGjSZtcufyoFOpEF0CzEbakyiMPFqw3O1n6sByewtEU
rvnSsC0AT8O6+xqYbhwUMR8kmnmz2cMh10BDXBMS9Wo4DcvTBaCFrDsFFPXbbirLa7XBsY6fm+kWolLaVodNxN5Bey1le/CmXELVyDoS2ALrypb6EjJrc1cjtm+NdgQa6otwwdnXJEY8XdBSn6+uvqUh
dEPZls1EYT6J7PTGidzEmpRSLd+ESWTd7lRPhxD6e30W3vcFACCEzydmpX0ztlX0LRlQ6+ZCDL/GDy+54qr7P1tNH9JtCTQA0KwemwfbCts6NADT42NzqYOtYT7MENw7FMAUemDU08ylUh6eqm8lCt+I
idme9pTh3zMRldLm+vBF5nRhXo9cxsQ6VN5qNqob1+eWrFMwLXDdzZo2uy1EpfLY3Lz5GlpTogd02wItbtVIGtFNUVoYH51LnG3JG/a1J9fR33RonsTHZFnlD0ynyWBVHpmtqKGr2+ZIVZATOq6wvnDz
C5hOeg2SoYqi/l2vr9VceXiqND764JU1yMBVzU70PTDYH64JiEpq6GriYPde/+Gq/fXPxVz3KBxqDiq2zPdBhX7PJrd5tCiRC4/roubRGnnzG3rbmjkZAMDrGtjE13/vNA5oeMljTqeVcp5ErerQGitx
G0mtcys+L0vwc9vxl4enShj8aVKRembLLmwPOl7Xml0o1NwPb2z7pKyLX+sjvTtasxss9/Wd95Ei5pksyXngBQrohZkF2D83InoUl+RUgx+7H+KbVdH3Rz05UEQW5PJ5hmoziS5XbQ9TL0OZ9gZaIjIz
m2zzvo2i5gZt2h5ocRmPkTDQ4P876sxaI7VKa/7FPdxq+uS2rQII8YKnBuaSt4A24jgZG1qdrYQn4xtFvwflkfvLaZuujdfYFmjM2GHCpjXTWYuisk+Zkr2vXAWoHmxciV7N7010x91vAMDcX6l+/O+I
h9J3za510nNEO5uOPq8Jacn+lJJ7uFnVA85t21b5Vng1WfMgA7xdwLakOgFeDTXt/dd+02jNv+gj9RT9/dWW+6/WnCPZuR9erzU9x0S46gV2shvQuz+cxxHzr3VUqbdIvBE/axB9X00S6l+1yr77uo6r
Sc8RnQg0AHA/bG1oZA8Q192sfU/bFvfGxDm/ESKbizbu4ZtlDW5yQ0Rgrmno5+7h1oL7ebPm7VJvrf/qups1reyp1bLKdI5oTFPXvIXSyM+i1fJDlLHhva4/hRC5cCIV6+5rH1sm4GN0JNAAAAPOYh4n
j3oNc/Bha1yDH4Ox0fQJ72fbBT8++LA1nvZG8Lkftja8/JB4Co54Axowc1VrvaKPnHGzz+V+eL3mHT/vND1+g/uvzb3AcaT8+zgtn+NXdS3LsjT3PPel9gKu2TnVF3RrrWcOPr5+3Pi67uFm9XvgZrvn
Ika9ETvIY0FmQa8qX380ibNvpdCGUad/D3+i2uoN0Ex55P40FJUCHwOkVA3a2bNO0nZZVB8tqlNfHn5UwuC3Ses5fnV22nVdEfeeon+nU9fWtqg87npFuTCBJpJJG2iX3fjo3Kq5wCHNIIivc01HIXqR
OTWTchDEJ4EmRATrAumUgyA+CTQhIthygqQdBPFJoAlhUV+lH1ixwoyWB2Ek0IQwlIenSt7n6QUxG7uvU5BRx0tGRh099amD0N5AIhq2r9+MXhaXhNRo4nI6O51USi2ZX1EfUt8sJ0gzEmhCNNXakH4j
CTQhYnmLlc3StCTQhLD4voazcbGyEKLQ/h/7Ll2CpNflMwAAAABJRU5ErkJggg=="
        alt="Neatpay"
      />
      <h1>ACCOUNT STATEMENT</h1>
      <p>Generated on {{.TodayDate}}</p>
    </div>

    <div class="statement-duration-banner">
      <p>Statement Summary for {{.StartDate}} to {{.EndDate}}</p>
    </div>

    <table class="info">
      <tr class="row">
        <td class="left-side">Currency</td>
        <td>NGN</td>
      </tr>
      <tr class="row">
        <td class="left-side">Account Name</td>
        <td>{{.AccountName}}</td>
      </tr>
      <tr class="row">
        <td class="left-side">Branch Address</td>
        <td>{{.Address}}</td>
      </tr>
      <tr class="row">
        <td class="left-side">Account Category</td>
        <td>Wallet</td>
      </tr>
    </table>

    <table class="info">
      <tr class="row">
        <td class="left-side">Account Number</td>
        <td>{{.AccountNumber}}</td>
      </tr>
      <tr class="row">
        <td class="left-side">Opening Balance</td>
        <td>{{.OpeningBalance}}</td>
      </tr>
      <tr class="row">
        <td class="left-side">Total Withdrawals</td>
        <td>{{.TotalWithdrawals}}</td>
      </tr>
      <tr class="row">
        <td class="left-side">Total Lodgement</td>
        <td>{{.TotalLodgement}}</td>
      </tr>
      <tr class="row">
        <td class="left-side">Closing Balance</td>
        <td>{{.ClosingBalance}}</td>
      </tr>
    </table>

    <h3 class="transaction-title">Transactions</h3>

    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th>Ref</th>
          <th>Debit</th>
          <th>Credit</th>
          <th>Balance</th>
        </tr>
      </thead>

      <tbody>
        {{range .Transactions}}
        <tr>
          <td>{{.Date}}</td>
          <td>{{.Description}}</td>
          <td>{{.Reference}}</td>
          <td class="debit">{{.Debit}}</td>
          <td class="credit">{{.Credit}}</td>
          <td>{{.Balance}}</td>
        </tr>
        {{else}}
        <tr>
          <td colspan="6" style="text-align: center; color: #999">
            No transactions in this period
          </td>
        </tr>
        {{end}}
      </tbody>
    </table>

    <div class="footer">
      Thank you for choosing Neatpay. If you experience any issues with your
      transaction, please contact our support team via
      <a
        href="mailto:support@neatpay.com"
        rel="noopener noreferrer"
        target="_blank"
        >support@neatpay.com</a
      >
      or call
      <a href="tel:+234 800 000 0000" target="_blank" rel="noopener noreferrer"
        >+234 800 000 0000</a
      >.
    </div>
  </body>
</html>
